
 body{
    background-color: grey;
    font-family: 'ABeeZee', sans-serif;
    background-image: url(/images/water-1330252_1920.jpg);
    background-attachment: fixed;
}

p{
    font-style: normal;
}

h1, h2{
    text-align: center;
}

h2, h3{
    font-family: 'Tangerine', cursive;
    text-decoration: underline;

}

section{
    background-color: rgba(135, 206, 250, 0.678);
    max-width: auto;
    max-height: auto;
    margin-top: auto;
    padding-top: auto;
}

#theone{
    max-width: 400px;
    flex-direction: row;
    border-radius: 15px;
    font-weight: bolder;
}

#identite{
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    max-height: 300px;
    padding: 15px;
 }

 #thetwo, h2{
     text-align: center;
     border-radius: 15px;
     font-family: 'Tangerine', cursive;
     font-size: 40px;
 }

#thethree, #thefive{
 font-weight: bolder;
}
   
section{
    min-height: 250px;
    border-radius: 15px;
}

#lien1{
    color: black;
    font-size: larger;
    font-weight: bolder;
    text-decoration: underline;
}

#thesix >img{
    height:100px;
    width: 100px;
}

.progress-bar1 {
    background-color: orange;
}
.progress-bar2 {
    background-color: orange;
}
.progress-bar3 {
    background-color: orange;
}
.progress-bar4 {
    background-color:  orange;
}
.progress-bar5 {
    background-color: orange;
}

#cd1 >img{
height: 300px;
width: 300px;
padding: 15px;
}

#cd2 >img{
height: 300px;
width: 300px;
padding: 15px;
}

#cd3 >img{
    height: 300px;
    width: 300px;

}
h4{
    text-decoration: underline;
}

aside{
background-color: skyblue;
border-radius: 15px;
}
h4{
    font-family: tangerine;
}

